version: '2'
services:

  foodsoft:
    extends: foodsoft_worker
    command: sh -c 'bundle install;./proc-start web'
    ports:
      - "4000:3000"
  foodsoft_worker:
    # image: ghcr.io/foodcoopsat/foodsoft:2023-04-12v1
    image: foodsoft:latest
    # image: foodsoft-master
    # image: foodsoft-develop1
    # build:
    #   context: .
    #   dockerfile: Dockerfile-dev
    command: ./proc-start worker
    volumes:
      - foodsoft:/usr/src/app/storage
      - ${PWD}/dev_config/app_config.yml:/usr/src/app/config/app_config.yml
      - ${PWD}/config/storage.yml.SAMPLE:/usr/src/app/config/storage.yml
      - ${PWD}/config/initializers:/usr/src/app/config/initializers
      - ${PWD}/config/environments/development.rb.SAMPLE:/usr/src/app/config/environments/production.rb
      - ${PWD}/app:/usr/src/app/app
      - ${PWD}/docker-entrypoint.sh:/usr/src/app/docker-entrypoint.sh
    environment:
      # - DATABASE_URL=mysql2://root:secret@mariadb/development?encoding=utf8mb4
      - REDIS_URL=redis://redis:6379
      # - TEST_DATABASE_URL=mysql2://root:secret@mariadb/test?encoding=utf8mb4
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true
      - MAILCATCHER_ADDRESS=mailcatcher
      - MAILCATCHER_PORT=25
      - SECRET_KEY_BASE=ljwefduspodu
      - RAILS_ENV=production
      - FOODSOFT_DB_PREFIX=foodsoft_
      - FOODSOFT_DB_HOST=mariadb
      - FOODSOFT_DB_NAME=foodsoft_franckkistl
      - FOODSOFT_DB_USER=root
      - FOODSOFT_DB_PASSWORD=secret
      - RAILS_FORCE_SSL=false

  mailcatcher:
    image: tophfr/mailcatcher
    ports:
      - "1080:80"

  mariadb:
    image: mariadb:10.11
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=development
    ports:
      - 3306:3306
    volumes:
      - mariadb:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=mariadb
      - PMA_USER=root
      - PMA_PASSWORD=secret
    ports:
      - "2080:80"

  redis:
    image: redis:6.2-alpine

volumes:
  bundle:
  mariadb:
  foodsoft:

