- title t('.title')

%p= t('.first_paragraph')
%p= t('.second_paragraph')

%p= link_to "Poste dein Feedback bitte im Vernetzungs-Forum", "https://forum.foodcoops.at/auth/multi_sso?id=#{FoodsoftConfig.scope}"
